/*Universal Box Sizing with Inheritance*/
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Body Reset*/
body {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  /* Site Font */
  font-family: "Roboto";
}


/* Cards */
.card-style1 {
  background-color: rgba(39, 102, 89, 0.6);
  color: white;
}

.card-style1-h3 {
  background-color: rgba(43, 105, 91, 0.9);
  text-align: center;
  padding: 4% 2%;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin: 0;
}

.card-style1-p {
  padding: 2% 6%;
  text-align: justify;
  font-size: 1.2em;
}

/* Card on Goals */
.card-style1-h4 {
  background-color: rgba(43, 105, 91, 0.9);
  padding: 2% 2%;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  margin: 0;
}

.card-style1-ul-wrap{
  padding: 2% 2%;
}

.card-style1-ul {
  margin: 0;
  line-height: 2em;
  font-size: 1.3em;
}

.drop-down-box-container {
  margin-top: 4%;
  margin-bottom: 4%;
}

.drop-down-content {
  display: block;
}

.team {
  padding: 2%;
}

.team-deck {
  padding: 4%;
}

.teammember-wrapper {
  background-color: rgba(43, 105, 91, 0.7);
  padding: 2%;
  margin-top: 4%;
  margin-bottom: 2%;
}

.team-img-wrapper {
  background: linear-gradient(180deg, rgba(34, 85, 74, 1) 40%, transparent);
  width: 100%;
  padding: 2%;
}

.team-image {
  width: 100%;
  border-radius: 50%;
}

.team-text-wrapper {
  color: white;
  text-align: center;
}

footer {
  background-color: rgba(43, 105, 91, 0.9);
  padding: 2%;
  margin: 0;
}
.footer-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.footer-ul a {
  text-decoration: none;
  padding: 2%;
  margin: 0;
}

.footer-ul li {
  color: white;
  padding: 0;
}
