/* Background Image Settings for Parallax */
.background-1, .background-2, .background-3, .background-4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Background Images */
/* Home */
.background-1 {
  background-image: url("../media/backgrounds/mountainBoat.jpg");
  min-height: 100vh;
}
/* Goals */
.background-2 {
  background-image: url("../media/backgrounds/barley.jpg");
  min-height: 100vh;
}
/* Training */
.background-3 {
  background-image: url("../media/backgrounds/stones.jpg");
  min-height: 100vh;
}
/* Team */
.background-4 {
  background-image: url("../media/backgrounds/mist.jpg");
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(39, 102, 89, 0.9);
  display: flex;
  align-items: center;
  z-index: 1;
}

.nav-icon-container {
  display: none;
}

/* Logo */
.nav-logo-container {
  padding: 4%;
}

.nav-logo {
  width: 80%;
}

/* Navigation */
.m-main-nav {
  width: 100%;
  padding: 0;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.nav-item {
  padding: 0;
  margin: 0;
  display: block;
}

.nav-item-a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 2em
}

.nav-item-a:hover {
  color: rgba(230, 42, 41, 0.9);
  transition: 0.3s;
}

.anmelden:hover {
  color: white;
  transition: 0.3s;
}

/* home */
.home {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20%;
}

.headline {
  background-color: rgba(39, 102, 89, 0.4);
  width: 100%;
  color: white;
  letter-spacing: 0.2em;
  font-size: 2em;
  padding: 2% 0%;
}


/* About */
.about {
  min-height: 100vh;
  background-image: url("../media/backgrounds/walkway.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CARDS */
.about-card-deck {
  display: flex;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 10%;
}

.card-style1 {
  width: 30%;
}

.card-style1-p {
  font-size: 1.4em;
}

.card-style1-h4 {
  font-size: 1.5em;
}

.card-style1-ul-wrap {
  font-size: 1.4em;
}

.goals {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.goals-card-deck {
  padding: 6%;
  padding-top: 10%;
}

.card-style-goals {
  width: 100%;
}


/* Training Page-4*/
.training {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10%;
}

.training-card-deck {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-around;
}

.headline-training {
  background-color: rgba(39, 102, 89, 0.7);
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  padding: 2%;
}


/* INFO */
.training-drop-down-deck {
  padding: 0% 6%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.training-drop-down-box {
  background-color: rgba(43, 105, 91, 0.9);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4%;
}

.drop-down {
  font-size: 2.5em;
}

.drop-down-content {
  background-color: rgba(43, 105, 91, 0.6);
  padding: 4%;
  color: white;
  font-size: 1.2em;
  text-align: justify;
}

.team {
  padding-top: 10vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.teammember-wrapper {
  width: 30%;
}
